# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on:
  push:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        java: [ 21 ]
        distro: [ temurin ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distro }}
          java-version: ${{ matrix.java }}
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      #- name: capture build artifacts
      #  if: ${{ runner.os == 'Linux' }}
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: Artifacts
      #    path: build/libs/
      - name: create release and upload jar
        if: ${{ runner.os == 'Linux' }}
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/*.jar
          tag_name: v0.1.0-${{ github.run_number }}
          name: Release v0.1.0-${{ github.run_number }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
